body * {
    transition: 2s !important
}

.car-grid {
    display: grid;
    gap: 2rem
}


.card {
    border: none;
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
}


.card-specs {
    display: grid;
    grid-template-columns: auto auto
}

.card-specs span {
    font-weight: 600;
}

.car-img {
    position: relative;
    right: 3rem;
}

.vehicle-image img{
    margin-left: 50%;
    transform: translateX(-60%);
    width: 50%;
}

.car-table {
    display: flex;
    font-size: 2rem;
    width: 100%;

}

.car-table thead tr th, .car-table tbody tr td {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    margin: 0 2rem;
}
