{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <h1 class="text-center mb-5">Veículos Disponíveis</h1>

  <!-- Filter Section -->
  <div class="text-end mb-4">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#filterOptions"
      aria-expanded="false"
      aria-controls="filterOptions"
    >
      Filtrar
    </button>
  </div>
  
  <div class="collapse" id="filterOptions">
    <div class=" card-body mb-4">
      <form method="GET" action="/filter" class="row g-3">
        <div class="col-md-6">
          <label for="search_marca" class="form-label">Marca do Veículo</label>
          <input
            type="text"
            name="search_marca"
            id="search_marca"
            class="form-control"
            value="{{ search if search else '' }}"
            placeholder="Ex: BMW, Tesla..."
          />
        </div>
        <div class="col-md-6">
          <label for="search_modelo" class="form-label">Modelo do Veículo</label>
          <input
            type="text"
            name="search_modelo"
            id="search_modelo"
            class="form-control"
            value="{{ search if search else '' }}"
            placeholder="Ex: X5, Model 3..."
          />
        </div>
        <div class="col-md-4">
          <label for="num_pessoas" class="form-label">Número de Pessoas</label>
          <input
            type="number"
            name="num_pessoas"
            id="num_pessoas"
            class="form-control"
            min="1"
            value="{{ num_pessoas if num_pessoas else '' }}"
          />
        </div>
        <div class="col-md-4">
          <label for="tipo_de_veiculo" class="form-label">Tipo de Veículo</label>
          <select name="tipo_de_veiculo" id="tipo_de_veiculo" class="form-select">
            <option value="">-- Todos os Tipos --</option>
            <option value="Carro" {% if tipo_de_veiculo == "Carro" %}selected{% endif %}>Carro</option>
            <option value="Motocicleta" {% if tipo_de_veiculo == "Motocicleta" %}selected{% endif %}>Motocicleta</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="preco_do_veiculo" class="form-label">Preço do Veículo</label>
          <select name="preco_do_veiculo" id="preco_do_veiculo" class="form-select">
            <option value="" {% if not preco_do_veiculo %}selected{% endif %}></option>
            <option value="50-75" {% if preco_do_veiculo == '50-75' %} selected {% endif %}>Entre 50€ e 75€</option>
            <option value="75-100" {% if preco_do_veiculo == '75-100' %} selected {% endif %}>Entre 75€ e 100€</option>
            <option value="100-150" {% if preco_do_veiculo == '100-150' %} selected {% endif %}>Entre 100€ e 150€</option>
            <option value="200-500" {% if preco_do_veiculo == '200-500' %} selected {% endif %}>Entre 200€ e 500€</option>
            <option value="500-1000" {% if preco_do_veiculo == '500-1000' %} selected {% endif %}>Entre 500€ e 1000€</option>
            <option value="1000-2500" {% if preco_do_veiculo == '1000-2500' %} selected {% endif %}>Entre 1000€ e 2500€</option>
            <option value="2500-5000" {% if preco_do_veiculo == '2500-5000' %} selected {% endif %}>Entre 2500€ e 5000€</option>
            <option value="5000-10000" {% if preco_do_veiculo == '5000-10000' %} selected {% endif %}>Mais do que 5000€</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="ordem_prod" class="form-label">Ordenar por</label>
          <select name="ordem_prod" id="ordem_prod" class="form-select">
            <option value="preco_asc" {% if ordem_prod == 'preco_asc' %}selected{% endif %}>Preço (Baixo para Alto)</option>
            <option value="preco_desc" {% if ordem_prod == 'preco_desc' %}selected{% endif %}>Preço (Alto para Baixo)</option>
            <option value="nome_asc" {% if ordem_prod == 'nome_asc' %}selected{% endif %}>Nome (A-Z)</option>
            <option value="nome_desc" {% if ordem_prod == 'nome_desc' %}selected{% endif %}>Nome (Z-A)</option>
            <option value="ano_asc" {% if ordem_prod == 'ano_asc' %}selected{% endif %}>Ano (Velho ao Novo)</option>
            <option value="ano_desc" {% if ordem_prod == 'ano_desc' %}selected{% endif %}>Ano (Novo ao Velho)</option>
            <option value="velo_asc" {% if ordem_prod == 'velo_asc' %}selected{% endif %}>Velocidade (Baixa para Alta)</option>
            <option value="velo_desc" {% if ordem_prod == 'velo_desc' %}selected{% endif %}>Velocidade (Alta para Baixa)</option>
          </select>
        </div>

        <div class="mb-3 col-md-4">
          <label for="data_de_inicio" class="form-label"
            >Data de Início</label
          >
          <input
            type="date"
            class="form-control"
            id="data_de_inicio"
            name="data_de_inicio"
            required
          />
        </div>

        <div class="mb-3 col-md-4">
          <label for="data_de_fim" class="form-label">Data de Fim</label>
          <input
            type="date"
            class="form-control"
            id="data_de_fim"
            name="data_de_fim"
            required
          />
        </div>
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Vehicles Display -->
  <div class="row">
    {% if vehicles %}
      {% for vehicle in vehicles %}
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="{{ url_for('views.get_vehicle', vehicle_id=vehicle.id) }}" class="text-decoration-none">
            <div class="card shadow-sm h-100">
              <img
                src="{{ url_for('views.get_vehicle_image', vehicle_id=vehicle.id) }}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ vehicle.marca }} {{ vehicle.modelo }}</h5>
                <p class="text-muted">{{ vehicle.ano }}</p>
                <p class="card-text">{{ vehicle.desc_rapida }}</p>
                <ul class="list-unstyled mb-3">
                  <li>Nº de Assentos: {{ vehicle.numero_de_assentos }}</li>
                  <li>Câmbio: {{ vehicle.tipo_de_cambio }}</li>
                  <li>Velocidade Máxima: {{ vehicle.velocidade_maxima }} km/h</li>
                </ul>
                <div class="text-end">
                  <span class="text-primary fw-bold">{{ vehicle.preco }}€/dia</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p class="text-center">Nenhum veículo encontrado.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
