{% extends "base.html" %}


{% block content %}
    <div class="vehicle-informaion-grid">
        <div class="vehicle-image">
            <img src="{{ url_for('views.get_vehicle_image', vehicle_id=vehicle.id) }}" alt="">
        </div>

        <div class="vehicle-detailed-info">
          
              <table class="table">
                <thead class="thead-light">
                  

                <thead>
                    <tr>
                      <th>Ano do Veículo</th>
                      <th>Número de portas</th>
                      <th>Velocidade (km/h)</th>
                      <th>Tipo de Cambio</th>
                      <th>Categoria</th>
                      <th>Número de assentos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ vehicle.ano }}</td>
                      <td>{{ vehicle.numero_de_portas }}</td>
                      <td>{{ vehicle.velocidade_maxima }}</td>
                      <td>{{ vehicle.tipo_de_cambio }}</td>
                      <td>{{ vehicle.categoria }}</td>
                      <td>{{ vehicle.numero_de_assentos }}</td>
                    </tr>
                  </tbody>
              </table>
        </div>

        <div class="vehicle-detailed-description">
            <p>{{ vehicle.desc_detatalhada }}</p>
        </div>

        <div class="vehicle-purchase-section">
            <div class="container my-5">
                <h1 class="mb-4">Checkout</h1>
                <div class="row">
                  <!-- Left Section: Billing Information -->
                  <div >
                    <h4 class="mb-3">Informação de pagamento</h4>
                    <form>
                      <div class="row g-3">
                        <div class="col-md-6">
                          <label for="firstName" class="form-label">Primeiro Nome</label>
                          <input name="firstName" type="text" class="form-control" id="firstName" placeholder="Daniel" required>
                        </div>
                        <div class="col-md-6">
                          <label for="lastName" class="form-label">Último Nome</label>
                          <input name="lastName type="text" class="form-control" id="lastName" placeholder="Almeida" required>
                        </div>
                        <div class="col-12">
                          <label for="email" class="form-label">Email</label>
                          <input name="email" type="email" class="form-control" id="email" placeholder="pessoa@examplo.com" required>
                        </div>
                        <div class="col-12">
                          <label for="address" class="form-label">Endereço</label>
                          <input name="address" type="text" class="form-control" id="address" placeholder="1234 rua principal" required>
                        </div>
                        <div class="col-md-6">
                          <label for="city" class="form-label">Cidade</label>
                          <input name="citi" type="text" class="form-control" id="city" required>
                        </div>
                        <div class="col-md-4">
                          <label for="state" class="form-label">Distrito</label>
                          <select class="form-select" id="state" required>
                            <option value="">Escolha...</option>
                            <option>Aveiro</option>
                            <option>Beja</option>
                            <option>Braga</option>
                            <option>Bragança</option>
                            <option>Castelo Branco</option>
                            <option>Coimbra</option>
                            <option>Évora</option>
                            <option>Faro</option>
                            <option>Guarda</option>
                            <option>Leiria</option>
                            <option>Lisboa</option>
                            <option>Portalegre</option>
                            <option>Porto</option>
                            <option>Santarém</option>
                            <option>Setúbal</option>
                            <option>Viana do Castelo</option>
                            <option>Vila Real</option>
                            <option>Viseu</option>
                          </select>
                        </div>
                        <div class="col-md-2">
                          <label for="zip" class="form-label">Código postal</label>
                          <input type="text" class="form-control" id="zip" required>
                        </div>
                      </div>
                      <hr class="my-4">
                      <h4 class="mb-3">Pagamento</h4>
                      <div class="my-3">
                        <div class="form-check">
                          <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                          <label class="form-check-label" for="credit">Crédito</label>
                        </div>
                        <div class="form-check">
                          <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                          <label class="form-check-label" for="debit">Débito</label>
                        </div>
                        <div class="form-check">
                          <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                          <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                      </div>
                      <div class="row gy-3">
                        <div class="col-md-6">
                          <label for="cc-name" class="form-label">Nome no cartão</label>
                          <input type="text" class="form-control" id="cc-name" placeholder="Daniel Almeida" required>
                        </div>
                        <div class="col-md-6">
                          <label for="cc-number" class="form-label">Némero do cartão</label>
                          <input type="text" class="form-control" id="cc-number" placeholder="1111-2222-3333-4444" required>
                        </div>
                        <div class="col-md-3">
                          <label for="cc-expiration" class="form-label">Validade</label>
                          <input type="text" class="form-control" id="cc-expiration" placeholder="MÊS/ANO" required>
                        </div>
                        <div class="col-md-3">
                          <label for="cc-cvv" class="form-label">CVV</label>
                          <input type="text" class="form-control" id="cc-cvv" placeholder="123" required>
                        </div>
                      </div>
                      <hr class="my-4">
                      <button class="w-100 btn btn-primary btn-lg" type="submit">Complete Checkout</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
{% endblock %}